@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
  box-sizing: border-box;
}

.App{
  width: 90%;
  max-width: 470px;
  height: auto;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px 70px;
  text-align: center;
  position: relative;
  bottom: 50px;
}

.Search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Search form input{
  border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    position: relative;
    bottom: 10px;
    left: 15px;
}

.Search form button{
  border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    left: 20px;
}

.Search form button img{
  width: 25px;
}

.error{
  margin-top: 15px;
  margin-right: 260px;

}

.random{
  position: relative;
  bottom: 10px;
}

.temp{
font-size: 45px;
position: relative;
bottom: 25px;
font-weight: bold ;
}
 
.name{
  font-size: 30px;
  font-weight:600;
  position: relative;
  bottom: 20px;
}

.Humidity-Wind{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Humidity_details{
  position: relative;
  right: 10px;
  font-size: 18px;
}

.Wind_details{
  position: relative;
  right: 5px;
  font-size: 18px;
}

